<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  @!section('title')
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Meal Tracker</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ antl.formatMessage('navbar.language') }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="langDropdown">
                          <li><a class="dropdown-item {{ antl.currentLocale() == 'en' ? 'text-primary' : '' }}" href="?lang=en">{{ antl.formatMessage('navbar.english') }}</a></li>
                          <li><a class="dropdown-item {{ antl.currentLocale() == 'fr' ? 'text-primary' : '' }}" href="?lang=fr">{{ antl.formatMessage('navbar.french') }}</a></li>
                          <li><a class="dropdown-item {{ antl.currentLocale() == 'ee' ? 'text-primary' : '' }}" href="?lang=ee">{{ antl.formatMessage('navbar.estonia') }}</a></li>
                        </ul>
                    </li>
                    @loggedIn
                        <a class="nav-link" href="/meals">{{ antl.formatMessage('navbar.my_meals') }}</a>
                        <a class="nav-link" href="/reports">{{ antl.formatMessage('report.reports') }}</a>
                        <a class="nav-link" href="/signout">{{ antl.formatMessage('navbar.sign_out') }}</a>
                        <span class="navbar-text">{{ auth.user.email }}</span>
                    @else
                        <a class="nav-link" href="/signin">{{ antl.formatMessage('navbar.sign_in') }}</a>
                        <a class="nav-link" href="/signup">{{ antl.formatMessage('navbar.sign_up') }}</a>
                    @endloggedIn
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-5">
        @if(flashMessage('success'))
            <div class="alert alert-success  alert-dismissible fade show mb-4" role="alert">
                {{ flashMessage('success') }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        @endif
        @if(flashMessage('error'))
            <div class="alert alert-danger  alert-dismissible fade show mb-4" role="alert">
                {{ flashMessage('error') }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        @endif

        @!section('body')
    </main>

</body>

</html>
